{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Store
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "store/product.css" %}" />
  <link rel="stylesheet" href="{% static "store/index.css" %}" />
  <link rel="stylesheet" href="{% static "store/modal.css" %}" />
{% endblock %}

{% block content %}
{% comment %} <header id="main-navigation">
  <h1><a href="">My Store</a></h1>
  <nav>
    <a href="">All Products</a>
  </nav>
</header> {% endcomment %}

<section id="welcome">
  <header>
    <img src="{% static "store/images/shop_img.jpg" %}" alt="Shop" />
    <h2>My Store</h2>
  </header>
  <p>Integer sodales convallis interdum. Pellentesque mollis justo sed vestibulum venenatis.</p>
</section>

<section id="latest-posts">
  <h2>My Latest Products</h2>

  <ul>
    {% for product in products %}
      {% include "store/includes/product.html" %}
    {% endfor %}
  </ul>
</section>



<section id="about">
  <h2>What I Do</h2>
  <p>
    Integer sodales convallis interdum. Pellentesque mollis justo sed vestibulum venenatis.
  </p>
  <p>
    Integer sodales convallis interdum. Pellentesque mollis justo sed vestibulum venenatis.
  </p>
</section>

{% if messages %}
<div id="success-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Success!</h2>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById("success-modal");
    if (modal) {
        modal.style.display = "block"; // Show the modal
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
});
</script>
{% endblock %}